<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!-- Consola -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %-25c{1}:%-4L - %m%n" />
        </Console>

        <!-- Archivos de Registro -->
        <!-- Registro generado por el Aplicativo -->
        <File name="VersionHelperFile" fileName="logs/version_helper-log4j2-${date:yyyy-MM-dd_HH-mm-ss}-log.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %-30c{1}:%-4L - %m%n" />
        </File>
    </Appenders>

    <Loggers>

        <!-- Logger específico para el componente properties-helper -->
        <Logger name="local.jarios.version" level="INFO" additivity="false">
            <AppenderRef ref="VersionHelperFile"/>
            <AppenderRef ref="Console"/>  <!-- Puedes decidir si lo logueas también a la consola -->
        </Logger>

        <!-- Redirección del log del aplicativo. Por consola y almacenado en fichero. -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>
</Configuration>